<div class="absolute top-5 right-5 bg-gray-700 p-4 rounded-lg">
    <h1 class="pb-2 font-bold">Notificaciones</h1>
    <hr class="pb-2">
    <div class="mb-2 bg-gray-600 p-2 rounded-lg">
        <h2 class="font-semibold"> Agenda</h2>
        <p>Tiene un evento programado para hoy!</p>
    </div>
    <div class="mb-2 bg-gray-600 p-2 rounded-lg">
        <h2 class="font-semibold"> Seguridad</h2>
        <p>No se ha encontrado inguna amenaza.</p>
    </div>
</div>
